
<div>

  <% puts ' _____ _   _______ _______   __  ______  ___  _____  _____ ' 
     puts '|_   _| \ | |  _  \  ___\ \ / /  | ___ \/ _ \|  __ \|  ___|' 
     puts '  | | |  \| | | | | |__  \ V /   | |_/ / /_\ \ |  \/| |__  ' 
     puts '  | | | . ` | | | |  __| /   \   |  __/|  _  | | __ |  __| ' 
     puts ' _| |_| |\  | |/ /| |___/ /^\ \  | |   | | | | |_\ \| |___ ' 
     puts ' \___/\_| \_/___/ \____/\/   \/  \_|   \_| |_/\____/\____/ ' %>
                                                          
</div>